.sidebar{
    flex:0.3;
    padding: 1rem 2rem;
}

.sidebar_twitter_icon{
    color: var(--twitter-primary);
    font-size: 2rem;
    padding-left: 1rem;
}

.sidebar_twitter_btn{
    background-color: var(--twitter-primary);
    color: var(--white);
    text-transform: capitalize;
    border-radius: 33px;
    width:100%;
    padding: 1rem 0;
    font-size:1.1rem;
    border: none;
}
.sidebar_twitter_btn:hover{
    background-color: var(--twitter-primary);
}

