body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: white;
  --grey : grey;
  --grey-2 : rgb(97, 95, 95);
  --twitter-primary: #2481ba;
  --twitter-primary-2: #60bbf4;
  --twitter-secondary: #e6ecf0;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary_button,.secondary_button{
  border-radius: 30px;
  padding: 0.4rem 0;
  font-weight: bold;
  border: 1.5px solid var(--grey);
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.primary_button{
  background-color: var(--white);
}

.primary_button:hover{
  background-color: var(--twitter-secondary);
}

.secondary_button{
  color: var(--white);
  background-color: var(--twitter-primary);
}

.secondary_button:hover{
  background-color: var(--twitter-primary-2);
}