.tweetbox{
    padding: 0.5rem 1rem;
    border-bottom: 1.5px solid var(--twitter-secondary);
    
}
.tweetbox_form{
    display: flex;
}
.tweetbox_form_field{
    margin-left: 1rem;
    flex:1;
}
.tweetbox_input{
    flex: 1;
    align-items: center;
    display:flex;
    justify-content: center;;
}
.tweetbox_input input{
border: none;
height: 3rem;
width: 100%;
border-bottom: 1.5px solid var(--twitter-secondary);
margin-bottom: 1rem;
}

.tweetbox_input input::placeholder{
    font-size: 1.2rem;
}

.tweetbox_button{
    background-color: var(--twitter-secondary);
    border-radius: 33px;
    color:var(--white);
    font-size: 0.9rem;
    text-transform: capitalize;
    border: none;
}
.tweetbox_button:hover{
    background-color: var(--twitter-primary-2);

}
.tweetbox_icons{
    color: var(--twitter-primary);
    
    
    
}
.tweetbox_icon{
    margin-right: 1rem;
    cursor: pointer;
}


